body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #5fa8d3, #7ec8e3);
    margin: 0;
    padding: 20px;
}



/* TITLE */
h1{
    text-align:center;
    color:white;
}

/* FORM */
.form-container{
    background:white;
    max-width:800px;
    margin:auto;
    padding:30px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,0.1);
}


/* LABEL */
label{
    font-weight:500;
    display:block;
    margin:15px 0 5px;
}

/* INPUT */
input, select{
    width:100%;
    padding:12px;
    border-radius:10px;
    border:1px solid #ccc;
}

/* PET TYPE */
.pet-type{
    display:flex;
    gap:20px;
}

.box:hover{
    border-color:#1c79c0;
    background:#eaf5ff;
}

/* PET TYPE BOX */
.box {
    flex:1;
    text-align:center;
    padding:15px;
    border:2px solid #ddd;
    border-radius:12px;
    cursor:pointer;
    transition:0.3s;
}

/* SELECTED PET */
input[name="petType"]:checked + .box {
    border-color:#1c79c0;
    background:#eaf5ff;
}

/* GENDER BOX */
.gender-box {
    flex:1;
    text-align:center;
    padding:12px;
    border:1px solid #ccc;
    border-radius:10px;
    cursor:pointer;
    transition:0.3s;
}

/* SELECTED GENDER */
input[name="gender"]:checked + .gender-box {
    background:#1c79c0;
    color:white;
    border-color:#1c79c0;
}

/* ROW */
.row{
    display:flex;
    gap:20px;
}

.row div{
    flex:1;
}

/* BUTTON */
.submit{
    width:100%;
    margin-top:20px;
    padding:15px;
    background:#1c79c0;
    color:white;
    border:none;
    border-radius:12px;
    cursor:pointer;
}

.submit:hover{
    background:#155a94;
}